<div class="flex">
  <div class="size-130 flex-none bg-amber-300 h-full">
    <div class="container bg-gray-50 h-full p-6 max-w-lg">
      <h1 class="text-3xl text-blue-800">Signals Sandbox</h1>
      <ul class="mt-6">
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/signals"
            >Basic Signals</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/signal-state-lightweight"
            >Lightweight SignalState</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/signal-store"
            >SignalStore</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="size-100 grow bg-white h-full">
    <router-outlet></router-outlet>
  </div>
</div>

